<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CFBundleDevelopmentRegion</key>
	<string>English</string>
	<key>CFBundleExecutable</key>
	<string>npcapture</string>
	<key>CFBundleIdentifier</key>
	<string>chrome.npcapture</string>
	<key>CFBundleInfoDictionaryVersion</key>
	<string>6.0</string>
	<key>CFBundleName</key>
	<string>npcapture</string>
	<key>CFBundlePackageType</key>
	<string>BRPL</string>
	<key>CFBundleVersion</key>
	<string>1.0</string>
	<key>WebPluginName</key>
	<string>Screen Capture Chrome Extension</string>
	<key>WebPluginDescription</key>
	<string>Screen Capture Chrome Extension</string>
	<key>WebPluginMIMETypes</key>
	<dict>
		<key>application/x-screencapture</key>
		<dict>
			<key>WebPluginTypeDescription</key>
			<string>Screen Capture Chrome Extension</string>
		</dict>
	</dict>
</dict>
</plist>
